<div class="text-nowrap">
  <p hlmLabel class="text-base text-slate-500 text-nowrap">Ingredients ({{ ingredients.length }}):</p>
  <div class="h-8 border-collapse">
    <div class="flex flex-nowrap">
      <input hlmInput #newIngredient id="newIngredient" type="text" size="sm" placeholder="Enter new ingredient..."
        variant="outline" aria-label='New ingredient' spellcheck="true" autocomplete="off"
        class="border rounded-tl-xl hover:bg-gray-100 border-r-0 p-2 border-slate-400 bg-slate-100 w-full placeholder:text-blue-300 placeholder:text-xs"
        maxlength="255" [formControl]="ctrlNewIngredient" />
      <button hlmBtn type="button" size="sm" class="border border-slate-400 rounded-tr-xl bg-gray-400 hover:bg-blue-100"
        [disabled]="ctrlNewIngredient.value === '' || isAlreadyThere()" (click)="addNewIngredient()">
        <hlm-icon name="lucideCopyPlus" />
      </button>
    </div>
  </div>
  <hlm-scroll-area class="border rounded-b-xl h-20 bg-gray-200 p-2 rounded-md">
    @for (item of ingredients; track $index) {
    <span class="float-left">
      <button type="button"
        class="px-3 rounded-xl text-left  bg-gray-300 border-gray-300 hover:bg-red-400 enabled:text-left"
        (click)="removeIngredient(item)">
        <hlm-icon name="lucideTrash" size="sm" class="mr-2 text-red-600" />{{ item.name }}
      </button>
    </span>
    }
  </hlm-scroll-area>
</div>